[user]
	name = Kagami Hiiragi
	email = kagami@genshiken.org
[color]
	ui = true
[push]
	default = simple
[alias]
	a = add -A
	c = commit
	s = status
	sh = show
	l = log -3
	d = diff
	dc = diff --cached
	dh = diff HEAD
	co = checkout
	b = branch
	cl = clone
	r = remote
	ch = cherry-pick
	m = merge --no-ff
	mt = mergetool --no-prompt
	rb = rebase
[merge]
	tool = meld
[mergetool]
	keepBackup = false
[mergetool "meld"]
	cmd = meld --auto-merge --output "$MERGED" "$LOCAL" "$BASE" "$REMOTE"
[core]
	pager = LESS=RSXc less
[pull]
	rebase = true
[url "https://"]
	insteadOf = git://
