[user]
	name = Kagami Hiiragi
	email = kagami@genshiken.org
[color]
	ui = true
[push]
	default = simple
[alias]
	a = add
	c = commit
	s = status
	sh = show
	l = log -3
	d = diff
	dd = diff HEAD
	co = checkout
	b = branch
	cl = clone
	r = remote
