snippet incs "System include" !b
#include <$1.h>
endsnippet

snippet incl "Local include" !b
#include "${1:`!p snip.rv = snip.basename`}.h"
endsnippet

snippet main "Main function" !b
int main(${1:int argc, char *argv[]})
{
	$0

    return 0;
}
endsnippet

snippet for "Standart foo loop with a counter" !b
for (${2:i} = 0; $2 < ${1:n}; $2++) {
	$0
}
endsnippet
